body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #eeeeee;
    color: #333;
}

.wrapper {
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 24px;
    color: #555;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f9f9f9;
}

/* Botão Customizado */
.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Adicionado para espaçamento ao lado do título */
}

.btn-custom:hover {
    background-color: #218838;
}
